<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="mt-3 mb-4"><%= @member.first_name %><%= @member.last_name %>さんの詳細</h1>
        <div class="row justify-content-end">
          <%= link_to "所属部門を変更する", edit_admin_member_path(@member.id), class: "btn btn-primary" %>
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・社員ID</h5>
          <%= @member.id %>
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・社員名</h5>
           <%= @member.first_name %> <%= @member.last_name %>
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・社員名（フリガナ）</h5>
          <%= @member.first_name_kana %> <%= @member.last_name_kana %>
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・生年月日</h5>
          <%= @member.birth_year %>年 <%= @member.birth_month %>月 <%= @member.birth_day %>日
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・電話番号</h5>
          <%= @member.phone_number %>
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・住所</h5>
          <%= @member.address %>
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・所属部門</h5>
          <%= @member.section.section_name %>
        </div>
        <div class="field d-flex flex-row">
          <h5 class="mr-3">・出退勤状況</h5>
          <%= @member.attendance_status_i18n %>
        </div>
        <div class="field">
          <h5 class="mb-3">・最近の体調</h5>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>登録日時</th>
                <th>体調</th>
                <th>体温</th>
                <th>補足説明</th>
              </tr>
            </thead>
            <tbody>
              <% @condition.each do |condition| %>
              <tr>
                <td><%= condition.created_at.to_s(:datetime_jp) %></td>
                <td><%= condition.status_i18n %></td>
                <td><%= condition.temperature %></td>
                <td><%= condition.explation %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-end">
          <%= link_to "体温変遷グラフ画面へ", admin_path(@member.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>

