<div>
  <h1><%= @member.first_name %><%= @member.last_name %>さんの詳細</h1>
  <div>
    <div>
      ・社員ID
      <%= @member.id %>
    </div>
    <div>
      ・社員名
      <%= @member.first_name %> <%= @member.last_name %>
    </div>
    <div>
      ・社員名（フリガナ）
      <%= @member.first_name_kana %> <%= @member.last_name_kana %>
    </div>
    <div>
      ・生年月日
      <%= @member.birth_year %>年 <%= @member.birth_month %>月 <%= @member.birth_day %>日
    </div>
    <div>
      ・電話番号
      <%= @member.phone_number %>
    </div>
    <div>
      ・住所
      <%= @member.address %>
    </div>
    <div>
      ・出退勤状況
      <%= @member.attendance_status_i18n %>
    </div>
  </div>
</div>

