
<div>
  <h2>部門登録</h2>
  <%= form_with model: @section, url: admin_sections_path, method: :post  do |f| %>
    <div class="field">
      <%= f.text_field :section_name %>
    </div>
    <div class="field">
      <%= f.submit "保存する" %>
    </div>
  <% end %>
</div>
<div>
  <h2>部門一覧</h2>
  <table>
    <tbody>
      <% @sections.each do |section| %>
      <tr>
        <td><%= section.section_name %></td>
        <td><%= link_to "編集する", edit_admin_section_path(section.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
