

<div>
  <h1>所属社員一覧</h1>
  <div>
    <%= render 'section_list', section: @sections %>
  </div>
  <div>
    <%= form_tag(members_path, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'search', name: nil %>
    <% end %>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>社員ID</th>
          <th>社員名</th>
          <th>所属課</th>
        </tr>
      </thead>
      <tbody>
        <% @member.each do |member| %>
        <tr>
          <td><%= member.id %></td>
          <td>
            <%= link_to member_path(member.id) do %>
              <%= member.first_name %><%= member.last_name %>
            <% end %>
          </td>
          <td><%= member.section.section_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


