<div>
  <h1><%= @member.first_name %><%= @member.last_name %>さんの詳細</h1>
  <div>
    <div class="field">
      ・社員ID
      <%= @member.id %>
    </div>
    <div class="field">
      ・社員名
      <%= @member.first_name %>  <%= @member.last_name %>
    </div>
    <div class="field">
      ・社員名（フリガナ）
      <%= @member.first_name_kana %>  <%= @member.last_name_kana %>
    </div>
    <div class="field">
      ・所属課
      <%= @member.section.section_name %>
    </div>
    <div class="field">
      ・出退勤状況
      <%= @member.attendance_status_i18n %>
    </div>
    <div class="field">
    </div>
  </div>
</div>


