
<h2>マイページ</h2>
<div>
  <div>
    <%= link_to "登録情報を編集", edit_member_path(current_member.id) %>
  </div>
  <div>
    <h4>・社員id</h4>
    <%= @member.id %>
  </div>
  <div>
    <h4>・社員名</h4>
    <%= @member.first_name %><%= @member.last_name %>
  </div>
  <div>
    <h4>・所属部門</h4>
    <%= @member.section.section_name %>
  </div>
  <div class="field">
    <h4>・出退勤状況</h4>
    <%= form_with model: @member, url: change_path(current_member.id), method: :patch do |f| %>
      <%= f.radio_button :attendance_status, Member.attendance_statuses.key(0) %>
      <%= f.label :attendance_status,  Member.attendance_statuses_i18n[:leaving_work] %>

      <%= f.radio_button :attendance_status,  Member.attendance_statuses.key(1) %>
      <%= f.label :attendance_status, Member.attendance_statuses_i18n[:attendance] %>

      <%= f.submit "変更する" %>
    <% end %>
  </div>
</div>
<div>
  <%= link_to "体調状況を登録する", new_condition_path %>
</div>
