<!DOCTYPE html>
<html>
  <head>
    <title>P_Con</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ui>
      <% if admin_signed_in? %>
        <li>
          <%= link_to "部門一覧", admin_sections_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% elsif member_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
        </li>
      <% end %>
      </ui>
    </header>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
